*{
  font-family: 'Open Sans', sans-serif;
}

/*header base.html*/
header{
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
}

#logo{
  height:150px;
  widht:auto;
}

/*no registrado*/
#noRegistrado{
  margin-top:20px;
}

.botonRegistro{
  /*forma boton*/
  padding: 10px 20px;
  border-radius:5px;
  /*fuente*/
  font-size:16px;
  font-weight: 700;
  color:black;
  text-decoration:none;
}

#botonIniciarSesion{
  background-color:transparent;
  border-color: transparent;
}

#botonRegistrarse{
  background-color:#E11485;
  border-color: transparent;
}

/*registrado*/
#registrado{
  display:flex;
  align-items:center;
}

#nombreUsuarioBase{
  font-size:24px;
  font-weight: 700;
  color:black;
  text-decoration: none;
  margin-right:30px;
}

#fotoUsuarioBase{
  height: 100px;
  weigth: auto;
}

/*contenido index.html*/
#contenedorIndex{
  display:flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  justify-content:space-between;
}

#menuIndex{
  display:flex;
  aling-items:center;
}

.ImagenODSIndex{
  width:85%;
  heigth:85%;
}

.botonCambioDeODS{
  color:black;
  text-decoration:none;
  font-weight:700;
  font-size:40px;
  margin-top:38%;
  margin-bottom:38%;
  margin-right:5%;
  margin-left:5%;
}

#descripcionJuego{
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  max-width:45%;
}

#descripcionJuego .titulo{
  font-weigth:700;
  font-size:36px;
  text-decoration:bold;
}

#descripcionJuego .comoSeJuega{
  font-weigth:700;
  font-size:24px;
}

.botonJugar{
  /*forma boton*/
  padding: 10px 20px;
  border-radius:5px;
  /*fuente*/
  font-size:16px;
  font-weight: 700;
  color:black;
  text-decoration:none;
  /*color*/
  background-color:#E11485;
  border-color: transparent;
}

/*conteido inicioSesion.html y registrarse.html*/


/*contenido paginaNoCreada.html*/
#contenedorDisculpas{
  margin-top:10%;
}

.disculpas{
  font-weight: 700;
  display:flex;
  justify-content: center;
  margin-top:0px;
  margin-bottom:0px;
}

#textoUnoPaginaNoCreada{
  font-size:50px;
}

#textoDosPaginaNoCreada{
  font-size:36px
}