<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8"/>
    <title>ODSgames</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/styleUno.css') }}">
  </head>
  <body>
    <header>
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/ODSgames.png') }}" id=logo></a>
      <div id="registro">
        <div id="noRegistrado">
          <button href="#" class="botonRegistro" id="botonIniciarSesion">Iniciar Sesion</button>
          <button href="#" class="botonRegistro" id="botonRegistrarse">Registrarse</button>
          
        </div>
        <div id="registrado" hidden>
          <a href="#">{{ usuario }}</a><a><img src='img/userTest.png'></a>
        </div>
      </div>
    </header>
    
    <article>
      {% block contenido %}{% endblock %}
    </article>
  </body>
</html>