<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8"/>
    <title>ODSgames</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/paginaNoCreada.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/inicioRegistrarse.css') }}">
    <!--nuevo-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/verdaderoOFalso.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/pantallaBloqueo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/sopaDeLetras.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/wordfind.css') }}">
    <!--fin nuevo-->
    
  </head>
  <body>
    <header>
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/ODSgames.png') }}" id=logo></a>
      
      <div id="registro">
        <div hidden>
        <div id="noRegistrado">
          <a href="{{ url_for('iniciarSesion') }}" class="botonRegistro" id="botonIniciarSesion">Iniciar Sesion</a>
          <a href="{{ url_for('registrarse') }}" class="botonRegistro" id="botonRegistrarse">Registrarse</a>
        </div>
        </div>

        <div hidden>
        <div id="registrado">
          <a href="#" id="nombreUsuarioBase"><!--{{ usuario }}--> @test</a><a href="#"><img src="{{ url_for('static', filename='img/userTest.png') }}" id="fotoUsuarioBase"></a>
        </div>
        </div>
        
      </div>
    </header>
    
    <article>
      {% block contenido %}{% endblock %}
      <!--nuevo-->
      <!--fin nuevo-->
    </article>
  </body>
</html>