{% extends 'base.html' %}
{% block contenido %}
<div id="tituloJuego">
  <h1>ODS 7 - Crucigrama</h1>
</div>

<td>
    <input class="casilla" type="text" maxlength="1" id="fila1C1" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C2" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C3" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C4" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C5" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C6" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C7" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C8" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C9" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C10" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C11" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C12" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C13" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C14" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C15" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C15" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C16" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C17" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C18" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C19" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C20" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C21" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C22" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C23" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C24" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C25" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C26" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C27" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C28" />
  </td>
  <td>
    <input class="casilla" type="text" maxlength="1" id="fila1C29" />
  </td>
  
  </td>

<script>
{% endblock %}