{% extends 'base.html' %}
{% block contenido %}
<div id="contenedorIndex">
  <div id="menuIndex">
    <button onclick="ODSatras()" class="botonCambioDeODS"> < </button>
    <img src="{{ url_for('static', filename='img/ODS2.png') }}" class="ImagenODSIndex" id="2img"/>
    <img src="{{ url_for('static', filename='img/ODS5.png') }}" class="ImagenODSIndex"id="5img" hidden/>
    <img src="{{ url_for('static', filename='img/ODS7.png') }}" class="ImagenODSIndex"id="7img" hidden/>
    <button onclick="ODSdelante()" class="botonCambioDeODS"> > </button>
  </div>
  <div id="descripcionJuego">
    <div id="2txt">
      <p class="titulo"> {{ tituloODSDos }} </p>
      <p class="comoSeJuega">Como se Juega:</p>
      <p class="comoSeJuega"> {{comoSeJuegaODSDos}} </p>
      <a href="{{ url_for('paginaNoCreada') }}" class="botonJugar">Jugar</a>
    </div>
    <div id="5txt" hidden>
      <p class="titulo"> {{ tituloODSCinco }} </p>
      <p class="comoSeJuega">Como se Juega:</p>
      <p class="comoSeJuega"> {{comoSeJuegaODSCinco}} </p>
      <a href="{{ url_for('paginaNoCreada') }}" class="botonJugar">Jugar</a>
    </div>
    <div id="7txt" hidden>
      <p class="titulo"> {{ tituloODSSiete }} </p>
      <!-- <p class="titulo"> {{ tituloODSSiete }} </p>
      <p class="comoSeJuega">Como se Juega:</p>
      <p class="comoSeJuega"> {{ comoSeJuegaODSSiete }} </p>
      <a href="{{ url_for('paginaNoCreada') }}" class="botonJugar">Jugar</a> -->
    </div>
  </div>
  <script src="static/codigo/javascript/delanteAtras.js"></script>
</div>
{% endblock %}