{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codigo/css/pantallaBloqueo.css') }}">
{% endblock %}
{% block contenido %}
<div id="contenedorAdvertencia">
  <h2 class="advertencia" id="textoPantallaBloqueo">Recomendamos para jugar {{ tituloJuego }} leer la seccion informativa</h2>
  <br/>
  <div id="botonesPantallaBloqueo">
    <a href="{{ pdf }}" class="botonInfo">Informate</a>
    <br/>
    <br/>
    <a href="{{ url }}" class="botonJugar">Jugar</a>
  </div>
</div>
{% endblock %}