{% extends 'base.html' %}
{% block contenido %}
<div id="tituloJuego">
  <h1>ODS 7 - Sopa de Letras</h1>
</div>
<div id="contenedorJuegoSopa">
<div id="main" role="main">
  <div id="puzzle"></div>
    <ul id="words">
      <li><button id="add-word" hidden>Añadir palabra</button></li>
    </ul>
  <!--se oculta devido al poco conocimiento de la herramienta en uso-->
    <div hidden>
    <fieldset id="controls">
      <label for="allowed-missing-words">Allowed missing words :
        <input id="allowed-missing-words" type="number" min="0" max="5" step="1" value="0">
      </label>
      <label for="max-grid-growth">Max grid growth :
        <input id="max-grid-growth" type="number" min="5" max="5" step="1" value="5">
      </label>
      <label for="extra-letters">letras extra :
        <select id="extra-letters">
          <!--
          <option value="secret-word" selected>form a secret word</option>
          <option value="none">none, allow blanks</option>
          <option value="secret-word-plus-blanks">form a secret word but allow for extra blanks</option>
          -->
          <option value="random">random</option>
        </select>
      </label>
      <label for="secret-word">Secret word :
        <input id="secret-word">
      </label>
        <button id="create-grid">Create grid</button>
        <p id="result-message"></p>
        <button id="solve">Solve Puzzle</button>
      </fieldset>
    </div>
  </div>
</div>

  <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  <script type="text/javascript" src="static/codigo/javascript/wordfind.js"></script> 
  <script type="text/javascript" src="static/codigo/javascript/wordfindgame.js"></script>
  <script>
    /* Example words setup */
    ['bioenergia','energia','ecosistema','desarrollo','renovables','consumo','carbono','hidroelectrico','contaminaciòn', 'sostenibilidad','sustentabilidad'].map(word => WordFindGame.insertWordBefore($('#add-word').parent(), word));
    $('#secret-word').val('');

    /* Init */
    function recreate() {
        $('#result-message').removeClass();
        var fillBlanks, game;
        if ($('#extra-letters').val() === 'none') {
            fillBlanks = false;
        } else if ($('#extra-letters').val().startsWith('secret-word')) {
            fillBlanks = $('#secret-word').val();
        }
        try {
            game = new WordFindGame('#puzzle', {
                allowedMissingWords: +$('#allowed-missing-words').val(),
                maxGridGrowth: +$('#max-grid-growth').val(),
                fillBlanks: fillBlanks,
                allowExtraBlanks: ['none', 'secret-word-plus-blanks'].includes($('#extra-letters').val()),
                maxAttempts: 100,
            });
        } catch (error) {
            $('#result-message').text(`😞 ${error}, try to specify less ones`).css({color: 'red'});
            return;
        }
        wordfind.print(game);
        if (window.game) {
            var emptySquaresCount = WordFindGame.emptySquaresCount();
            $('#result-message').text(`😃 ${emptySquaresCount ? 'but there are empty squares' : ''}`).css({color: ''});
        }
        window.game = game;
    }
    recreate();

    /* Event listeners */
    $('#extra-letters').change((evt) => $('#secret-word').prop('disabled', !evt.target.value.startsWith('secret-word')));

    $('#add-word').click( () => WordFindGame.insertWordBefore($('#add-word').parent()));

    $('#create-grid').click(recreate);

    $('#solve').click(() => game.solve());
    </script>



  <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  <script type="text/javascript" src="static/codigo/javascript/wordfind.js"></script> 
  <script type="text/javascript" src="static/codigo/javascript/wordfindgame.js"></script>
{% endblock %}