{% extends 'base.html' %}
{% block contenido %}
<div id="tituloJuego">
  <h1>ODS 5 - Verdadero o Falso</h1>
</div>
<!--leyendas-->
<div class="contenedoresVF">
  <p class="leyendaVF" id="leyendaUnoVF">{{leyendaUno}}</p>
  <p class="leyendaVF" id="leyendaDosVF" hidden>{{leyendaDos}}</p>
  <p class="leyendaVF" id="leyendaTresVF" hidden>{{leyendaTres}}</p>
  <p class="leyendaVF" id="leyendaCuatroVF" hidden>{{leyendaCuatro}}</p>
  <p class="leyendaVF" id="leyendaCincoVF" hidden>{{leyendaCinco}}</p>
  <p class="leyendaVF" id="leyendaSeisVF" hidden>{{leyendaSeis}}</p>
  <p class="leyendaVF" id="leyendaSieteVF" hidden>{{leyendaSiete}}</p>
  
  <div id="resultadosFinales" hidden>
    <h1 id="puntajeVF">Tu puntaje es:</h1>
    <div id="errores" hidden>
      <h2>tus errores fueron:</h2>
      <ol id="listadoErroresVF">
      
      </ol>
    </div>
    <br/>
    <a href="{{ url_for('index') }}" class="botonVF" id="botonIndex">Inicio</a>
  </div>
</div>

<!--respuestas-->
<p id="respuestaUnoVF" hidden>{{ respuestaUno }}</p>
<p id="respuestaDosVF" hidden>{{ respuestaDos }}</p>
<p id="respuestaTresVF" hidden>{{ respuestaTres }}</p>
<p id="respuestaCuatroVF" hidden>{{ respuestaCuatro }}</p>
<p id="respuestaCincoVF" hidden>{{ respuestaCinco }}</p>
<p id="respuestaSeisVF" hidden>{{ respuestaSeis }}</p>
<p id="respuestaSieteVF" hidden>{{ respuestaSiete }}</p>

<div class="contenedoresVF">
  <div  id="botonesVF">
  <button onclick='corroborar("V")' class="botonVF" id="botonV">Verdadero</button><button onclick='corroborar("F")' class="botonVF" id="botonF">Falso</button>
  </div>
</div>
<script src="static/codigo/javascript/verdaderoOFalso.js"></script>
{% endblock %}