*{
  font-family: 'Open Sans', sans-serif;
}

#contenedorAdvertencia{
  margin-top:10%;
}

.advertencia{
  font-weight: 700;
  display:flex;
  justify-content: center;
  margin-top:0px;
  margin-bottom:0px;
}

#textoPantallaBloqueo{
  font-size:36px;
}